<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Winter Wonderland Christmas Playground - Snowman Only</title>
    <meta name="description" content="Merry Christmas 2021!">
    {% include "scripts.html" %}
    <script src="../../bundle.js"></script>
  </head>
  <body>
    <a-scene physics="driver: ammo"
            count-painted-snowballs
            check-for-present-stack
            tune-detector
            networking>
      <a-assets>
        {% include "templates.html" %}
        {% include "test-assets.html" %}
        {% include "mixins.html" %}
      </a-assets>

      {% include "environment.html" %}
      {% include "rig.html" %}

      <a-entity id="play-area">
        {% include "layout/snowman.html" %}
      </a-entity>
    </a-scene>
    <script>

      // Called by Networked-Aframe when connected to server
      function onConnect() {
        console.log('onConnect', new Date());
      }
    </script>
  </body>
</html>