---
permalink: bundle.js
---
{% include "./src/christmas-utils.js" %}
{% include "./src/keep-control.js" %}
{% include "./src/move-objects.js" %}
{% include "./src/networked-movement.js" %}
{% include "./src/networking.js" %}
{% include "./src/object-parent.js" %}
{% include "./src/room-key.js" %}
{% include "./src/schemas.js" %}
{% include "./src/spawn-in-circle.js" %}
{% include "./src/objects/bowling-alley-reset.js" %}
{% include "./src/objects/bowling-alley-scoreboard.js" %}
{% include "./src/objects/bowling-alley-sweeper.js" %}
{% include "./src/objects/branch.js" %}
{% include "./src/objects/calendar.js" %}
{% include "./src/objects/icicle.js" %}
{% include "./src/objects/letters-block.js" %}
{% include "./src/objects/musical-note.js" %}
{% include "./src/objects/paintbrush.js" %}
{% include "./src/objects/penguin.js" %}
{% include "./src/objects/perimeter-fence.js" %}
{% include "./src/objects/ribbon.js" %}
{% include "./src/objects/room-code.js" %}
{% include "./src/objects/snowball.js" %}
{% include "./src/objects/star.js" %}
{% include "./src/objects/task-board.js" %}
{% include "./src/objects/task-watchers.js" %}
{% include "./src/objects/tophat.js" %}
{% include "./src/objects/trophy.js" %}
{% include "./src/objects/ui-button.js" %}
{% include "./src/objects/ui-rotary.js" %}
{% include "./src/objects/volume-control.js" %}
{% include "./src/objects/xmas-counter.js" %}
{% include "./src/objects/xylophone.js" %}

