---
permalink: bundle.js
---
{% include "./src/christmas-utils.js" %}
{% include "./src/move-objects.js" %}
{% include "./src/networked-movement.js" %}
{% include "./src/object-parent.js" %}
{% include "./src/spawn-in-circle.js" %}
{% include "./src/networking.js" %}
