<a-entity position = "-4 0 -4" rotation = "0 45 0">
  <a-entity id="letter-block1" letters-block="letters:CDEFAB;color:red" position = "-1.4 0.15 0"></a-entity>
  <a-entity id="letter-block2" letters-block="letters:HIJKLG;color:green" position = "-1.05 0.15 0"></a-entity>
  <a-entity id="letter-block3" letters-block="letters:RMNOPQ;color:blue" position = "-0.7 0.15 0"></a-entity>
  <a-entity id="letter-block4" letters-block="letters:IJKLGH;color:green" position = "-0.35 0.15 0"></a-entity>
  <a-entity id="letter-block5" letters-block="letters:STUVWX;color:orange" position = "0 0.15 0"></a-entity>
  <a-entity id="letter-block6" letters-block="letters:TUVWXS;color:orange" position = "0.35 0.15 0"></a-entity>
  <a-entity id="letter-block7" letters-block="letters:MNOPQR;color:blue" position = "0.7 0.15 0"></a-entity>
  <a-entity id="letter-block8" letters-block="letters:ABCDEF;color:red" position = "1.05 0.15 0"></a-entity>
  <a-entity id="letter-block9" letters-block="letters:STUVWX;color:orange" position = "1.4 0.15 0"></a-entity>
  <a-entity id="letter-block10" letters-block="letters:MNOPQR;color:blue" position = "-0.9 0.45 0"></a-entity>
  <a-entity id="letter-block11" letters-block="letters:EFABCD;color:red" position = "-0.55 0.45 0"></a-entity>
  <a-entity id="letter-block12" letters-block="letters:RMNOPQ;color:blue" position = "-0.2 0.45 0"></a-entity>
  <a-entity id="letter-block13" letters-block="letters:RMNOPQ;color:blue" position = "0.15 0.45 0"></a-entity>
  <a-entity id="letter-block14" letters-block="letters:YZ1234;color:purple" position = "0.5 0.45 0"></a-entity>
</a-entity>
