<a-entity id="present1" mixin="present-large" position="1.5 0.2 1" present
          ammo-shape="type:box"
          rotation="0 20 0"
          networked="template:#present-template; persistent: true; networkId:present1; owner: scene">
  <a-entity id="ribbon1" mixin="ribbon-red ribbon-large"></a-entity>
</a-entity>
<a-entity id="present2" mixin="present-medium" position="1.6 0.1 -0.7" present
          ammo-shape="type:box"
          rotation="0 -10 0"
          networked="template:#present-template; persistent: true; networkId:present2; owner: scene">
  <a-entity id="ribbon2" mixin="ribbon-medium ribbon-gold"></a-entity>
</a-entity>
<a-entity id="present3" mixin="present-small" position="1.3 0.05 -0.5" present
          ammo-shape="type:box"
          rotation="0 30 0"
          networked="template:#present-template; persistent: true; networkId:present3; owner: scene">
  <a-entity id="ribbon3" mixin="ribbon-small ribbon-green"></a-entity>
</a-entity>
<a-entity id="present4" mixin="present-medium" position="1.3 0.1 0.5" present
          ammo-shape="type:box"
          rotation="0 0 0"
          networked="template:#present-template; persistent: true; networkId:present4; owner: scene">
  <a-entity id="ribbon4" mixin="ribbon-medium ribbon-green"></a-entity>
</a-entity>
<a-entity id="present5" mixin="present-medium" position="1.1 0.1 -0.2" present
          ammo-shape="type:box"
          rotation="0 -30 0"
          networked="template:#present-template; persistent: true; networkId:present5; owner: scene">
  <a-entity id="ribbon5" mixin="ribbon-medium ribbon-red"></a-entity>
</a-entity>
<a-entity id="present6" mixin="present-small" position="1.1 0.05 0.2" present
          ammo-shape="type:box"
          networked="template:#present-template; persistent: true; networkId:present6; owner: scene">
  <a-entity id="ribbon6" mixin="ribbon-small ribbon-gold"></a-entity>
</a-entity>
