<a-entity id="snowman-base" mixin="snowbase" position="-0.5 0.4 -1.5"
          ammo-shape="type:hull"></a-entity>
<a-entity id="snowman-head" mixin="snowbase" scale="0.7 0.7 0.7" position="-0.5 1.1 -1.5"
          ammo-shape="type:hull"></a-entity>
<a-entity id="snowman-nose" mixin="carrot" rotation="90 0 0" position="-0.5 1.1 -1.1"  ammo-shape="type:cone;fit:manual;halfExtents:0.025 0.11 0.025"></a-entity>
<a-entity id="snowman-l-eye" mixin="coal" position="-0.6 1.2 -1.2" ammo-shape="type:sphere;fit:manual;sphereRadius:0.04"></a-entity>
<a-entity id="snowman-r-eye" mixin="coal" position="-0.4 1.2 -1.2" ammo-shape="type:sphere;fit:manual;sphereRadius:0.04"></a-entity>
<a-entity id="snowman-mouth1" mixin="coal" position="-0.6 1.02 -1.21" ammo-shape="type:sphere;fit:manual;sphereRadius:0.04"></a-entity>
<a-entity id="snowman-mouth2" mixin="coal" position="-0.55 1 -1.2" ammo-shape="type:sphere;fit:manual;sphereRadius:0.04"></a-entity>
<a-entity id="snowman-mouth3" mixin="coal" position="-0.5 1 -1.2" ammo-shape="type:sphere;fit:manual;sphereRadius:0.04"></a-entity>
<a-entity id="snowman-mouth4" mixin="coal" position="-0.45  1 -1.2" ammo-shape="type:sphere;fit:manual;sphereRadius:0.04"></a-entity>
<a-entity id="snowman-mouth5" mixin="coal" position="-0.4 1.02 -1.21" ammo-shape="type:sphere;fit:manual;sphereRadius:0.04"></a-entity>
<a-entity id="snowman-hat" mixin="hat" position="-0.5 1.56 -1.5" ammo-shape="type:hull"></a-entity>
<a-entity id="snowman-l-arm" mixin="branch" rotation="0 0 80" position="-1.1 0.7 -1.5" ammo-shape="type:hull"></a-entity>
<a-entity id="snowman-r-arm" mixin="branch" rotation="0 0 -100" position="0.1 0.7 -1.5" ammo-shape="type:hull"></a-entity>